/* Estilo para el fondo oscurecido */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }
  
  /* Estilo para el contenido del modal */
  .modalContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
  }
  
  /* Estilo para el botón de cierre */
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  