.brandsContainer {
    padding: 4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.categoryByMachine {
    margin-top: 15%;
    max-width: 100%;
    margin: 15% 0 0 10%;
    flex-direction: column;
}

.machineButton {
    border-radius: 0px !important;
}

.brandingLogo {
    width: 60vw;
}

.toBig {
    width: 40vw;
}   

@media (min-width: 800px){
    .categoryByMachine {
        flex-direction: row;
        margin: 5% 0 0 5%;
    }
    .brandingLogo {
        width: 20vw;
        margin: 5% 0 0 0;
    }
 
    .toBig {
        width: 12vw;
    }   
}