.brandsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 25%;
}
.brandsModel {
    color: rgba(0, 0, 0, 0.80);
    font-family: 'Red Hat Display';
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.875rem; /* 90.909% */
    letter-spacing: -0.06188rem;
    margin: 8%;
    margin-bottom: 3%;
}
.categoryByMachine {
    max-width: 80%;
    margin: 15% 0 0 10%;
    flex-direction: column;
}

.machineButton {
    border-radius: 0px !important;
}

.brandingLogo {
    width: 40vw;
    margin: 15%;
}

.toBig {
    width: 40vw;
}   

@media (min-width: 768px){
    .categoryByMachine {
        flex-direction: row;
        margin: 5% 0 0 5%;
        max-width: 100%;
    }
    .brandingLogo {
        width: 20vw;
        margin: 5% 0 0 0;
    }
 
    .toBig {
        width: 12vw;
    }   
    .brandsModel {
        font-size: 30px;
        margin: 8% 8% 0;
    }
}

@media (min-width: 1024px){
    .brandsContainer {
        padding-bottom: unset;
    }
    .brandsModel {
        font-size: 35px;
    }
}