.itemImage {
    width: 100%;
}

.itemContainer {
    width: 100vw;
    padding: 8%;
    border: 1px solid black;
    margin: 3%;
}

.carouselHome{
    .thumbs-wrapper
    {
        display: none;
    }
}

@media (min-width: 592px) {
    .itemContainer {
        width: 45vw;
        padding: 7%;
    }
}

@media (min-width: 992px) {
    .itemContainer {
        width: 30vw;
        padding: 4%;
        margin: unset;
        border: unset;
    }
    .itemContainer:hover {
        /* background-color: #f0f0f0; */
        border: 1px black solid;
    }
}