.itemImage {
    width: 100%;
}

.itemContainer {
    width: 100vw;
    padding: 15%;
}

.carouselHome{
    .thumbs-wrapper
    {
        display: none;
    }
}
@media (min-width: 592px) {
    .itemContainer {
        width: 45vw;
        padding: 7%;
    }
}

@media (min-width: 992px) {
    .itemContainer {
        width: 30vw;
        padding: 4%;
    }
}