* {
    font-size: 14px;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1 0 auto;
}

.homeImage {
    width: 100vw;
    padding: 10vw;
}


@media (min-width: 992px) {
    * {
        font-size:20px;
    }
}

