* {
    font-size: 14px;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@font-face {
    font-family: General Sans;
    src: url('/GeneralSans-Light.otf');
}
@font-face {
    font-family: General Sans Semibold;
    src: url('/GeneralSans-Semibold.otf');
}

@font-face {
    font-family: General Sans Medio;
    src: url('/GeneralSans-Medium.otf');
}

@font-face {
    font-family: General Sans Regular;
    src: url('/GeneralSans-Regular.otf');
}

.content {
    flex: 1 0 auto;
    background: #F5F5F7;
}

.homeDescription {
    color: #F5F5F5;
    text-align: center;
    font-family: General Sans Semibold;
    font-style: normal;
    z-index: 10;
    line-height: 115%;
    display: flex;
    width: 66vw;
    flex-direction: column;
    flex-shrink: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 32%;
}
.homeTitle {
    font-size: 30px;
    font-weight: 600;
    line-height: 115%; /* 69px */
    letter-spacing: -1.8px;
}

.homeImageMobile {
    width: 100%;
    height: 56vh;
    filter: brightness(0.7) blur(0.5px) !important;
}

.homeImage {
    height: unset;
    width: 90%;
    display: none;
    filter: brightness(0.7) blur(0.5px) !important;
}

.homeSubtitle {
    font-size: smaller;
    font-family: 'General Sans regular';
}

@supports(object-fit: cover){
    .homeImage, .homeImageMobile {
      width: 100%;
      object-fit: cover;
      object-position: center center;
    }
}
@media (min-width: 876px) {

    .homeImageMobile {
        display: none;
    }
    
    .homeImage {
        display: block;
    }
        
    .homeTitle {
        font-size: 60px;
    }
    .homeDescription { 
        top: 60%;
    }
    .homeSubtitle {
        font-size: inherit;
        font-family: 'General Sans Semibold';
    }
}



@media (min-width: 992px) {
    * {
        font-size:20px;
    }
}