body {
    font-family: 'Red Hat Display', sans-serif;
}

.logo {
    width: 215px;
}

a {
    text-decoration: none !important;
    color: rgba(64, 64, 64, 0.70) !important;
}

#auxiliar::after {
    display: none;
}

.brandsButton {
    font-family: 'red hat display';
    width: 45%;
    border-right: black 2px solid;
}
.navbar {
    display: flex;
    justify-content: space-around !important;
    padding-top: 2% !important;
}
/* Estilo inicial del dropdown (oculto) */
/* .dropdown {
    opacity: 0;
    max-height: 0;
    transition: max-height 2s, opacity 0.3s ease;
} */

/* Estilo del dropdown cuando está visible */
/* .dropdown.show {
    opacity: 1;
    max-height: auto;
} */

@media (min-width: 992px) {
    .logo {
        width: 20vw;
    }
    
    .rightNavbar {
        display: flex;
        flex-direction: row;
        width: 23%;
        justify-content: space-between;
    }
    .dropdown {
        
        display: flex;
        flex-direction: column;
        position: relative;
        width: 40vw;
        padding: 3% 5%;
        /* left: 5vw; */
    }
    .dropdown a {
        color: black !important;
        font-weight: 500;
        margin: 1%;
    }
}
