.vistronContainer {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: auto;
    padding: 4% 0;
}

.vistronImg {
    width: 100%;
}

@media (min-width: 600px){
    .vistronContainer {
        flex-direction: row;
    }   
    .vistronImg {
        width: 90%;
    }
    
}