.footer {
    flex-shrink: 0;
    width: 100vw;
    height: 40vh;
    background-color: #070070;
    display: flex;
    flex-direction: column;
}

.socialMediaBox {
    display: flex;
    text-align: center;
    height: 80%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
.footerDiv {
    display: flex;
    height: 60%;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    align-items: center;
    font-size: 10px;
}

.socialMedia {
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.linkedin {
    font-size: 14px;
}

.logoFooter {
    width: 60%;
}

.socialMediaText{
    color: white;
}

.socialMediaIcon {
    color: white;
    margin: 0px 20px;
}

.copied {
    color: white;
    width: 100px;
    position: absolute;
    border-radius: 8px;
    top: 108%;
    left: 44%;
    transform: translateX(-50%);
    background-color: #000000;
    padding: 5px;
    opacity: 1;
    z-index: 6;
    transition: opacity 0.3s, transform 0.3s;
}
  
copied.active {
    opacity: 1;
    transform: translate(-50%, -10px);
}

@media (min-width: 992px) {

    .footer {
        height: 30vh;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
    }    

    .footerDiv{
        align-items: unset;
    }

    .socialMediaIcon:hover {
        color:rgb(139, 145, 149);
    }
}
