.footer {
    width: 100vw;
    height: 20vh;
    background-color: #070070;
}

.socialMediaIcon {
    color: white;
    margin: 0px 20px;
}

.socialMedia {
    padding: 1em 0;
    text-align: center;
    width: 100%;
}

.socialMediaIcon:hover {
    color:rgb(205, 205, 205);
}

.logoFooter {
    width: 200px;
}

.contactFooter {
    color: white;
}

.footerDiv {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* .copied {
    background-color: white;
    width: 100px;
} */
.copied {
    /* background-color: white;
    width: 100px;
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    background-color: #f1f1f1;
    padding: 10px;
    border: 1px solid #ccc;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.3s, transform 0.3s; */

    color: white;
    width: 100px;
    position: absolute;
    border-radius: 8px;
    top: 108%;
    /* top: calc(108% + 0px); */
    left: 44%;
    transform: translateX(-50%);
    background-color: #000000;
    padding: 5px;
    opacity: 1;
    z-index: 6;
    transition: opacity 0.3s, transform 0.3s;
}
  
/* copied.active {
    opacity: 1;
    transform: translate(-50%, -10px);
} */
  