body {
  margin: 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul, p {
  font-family: 'Roboto Slab', serif;
  font-weight: 200;
}
h3, h5, h6 {
  font-family: 'Roboto Slab', serif;
  font-weight:400;
}